<!-- <button
  [type]="type"
  [disabled]="disabled"
  (click)="onClickButton($event)"
  class=" w-full px-4 py-2 rounded shadow-2xl shadow-lgfocus:outline-none focus:shadow-outline-blue"
  [ngClass]="{ 'bg-gray-400 ': disabled, 'text-gray-600': disabled , 'bg-green-500': !disabled, 'text-white': !disabled }"
>
  {{ label }}
</button> -->

<button
  [type]="type"
  [disabled]="disabled"
  (click)="onClickButton($event)"
  class="w-full px-4 py-2 rounded shadow-2xl shadow-lgfocus:outline-none focus:shadow-outline-blue"
  [ngClass]="{
    'bg-gray-400': disabled,
    'text-gray-600': disabled,
    'bg-green-500': !disabled,
    'text-white': !disabled
  }"
>
  {{ label }}
</button>
